/* Title bar */
.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

/* Tab bar */
#navigator-toolbox {
    border: 0px !important;
}

#TabsToolbar {
    margin-left: 20vw !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-right: 80vw !important;
    margin-top: -44px !important;
}

/* URL bar */
#back-button {
    display: none !important;
}

#forward-button {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#urlbar-container {
    width: auto !important;
}

#urlbar[breakout-extend] {
    width: 30vw !important;
  
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

#search-container {
  width: 200px !important;
}

.tab-close-button[pinned],
#tabbrowser-tabs[closebuttons="activetab"] > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]),
.tab-icon-pending:not([pendingicon]),
.tab-icon-pending[busy],
.tab-icon-pending[pinned],
.tab-icon-image:not([src]):not([pinned]):not([crashed])[selected],
.tab-icon-image:not([src]):not([pinned]):not([crashed]):not([sharing]),
.tab-icon-image[busy],
.tab-throbber:not([busy]),
.tab-icon-sound:not([soundplaying]):not([muted]):not([activemedia-blocked]):not([pictureinpicture]),
.tab-icon-sound[pinned],
.tab-sharing-icon-overlay,
.tab-icon-overlay {
  display: none;
}

.tab-sharing-icon-overlay[sharing]:not([selected]),
.tab-icon-overlay[soundplaying][pinned],
.tab-icon-overlay[muted][pinned],
.tab-icon-overlay[activemedia-blocked][pinned],
.tab-icon-overlay[crashed] {
  display: -moz-box;
}

* {
  font-size: 12pt !important;
}

