@import "nordic.css";

/* --- GENERAL --- */
* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;

  background-color: transparent;
  font-size: 18px;
}

#window,
#workspaces,
#clock,
#network,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-updates,
#custom-dunst,
#bluetooth,
#custom-menu,
#custom-lock,
#custom-power {
  padding: 0.5rem 0.5rem;
  color: @yellow;

  background-color: @bg-h;
}

/* --- LEFT MODULES --- */

#custom-menu,
#workspaces {
  background-color: @bg-h;
}
#custom-menu {
  color: @yellow;

  padding-left: 1.2rem;

  border-radius: 3rem 0 0 3rem;
}

#workspaces {
  padding: 0rem 0.5rem;
  border-radius: 0 2rem 2rem 0;
}

#workspaces button {
  color: @bg4;
  padding: 5px;
  transition:
    color 0.2s,
    background-color 0.2s;
}

#workspaces button.empty {
  color: @bg1;
}

#workspaces button.active {
  color: @yellow;
}

#workspaces button:hover {
  color: @orange;
}

/* --- CENTER MODULES --- */

#clock {
  border-radius: 24px;
  padding-left: 12px;
  padding-right: 12px;
  color: @yellow;
}

/* --- RIGHT MODULES --- */

#network {
  color: @green;
  border-radius: 2rem 0 0 2rem;
  padding-left: 1.2rem;
}

#idle_inhibitor.deactivated {
  color: @red;
}

#idle_inhibitor.activated {
  color: @green;
}

#pulseaudio {
  color: @purple;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @orange;
}

#temperature {
  color: @red;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth {
  color: @aqua;
}

#custom-power {
  padding-right: 1.2rem;
  border-radius: 0 2rem 2rem 0;
  color: @red;
}
