/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

/*
* {
    background:     #1E1D2FDD;
    background-alt: #282839DD;
    foreground:     #D9E0EEDD;
    selected:       #A6E3A1DD;
    active:         #ABE9B3DD;
    urgent:         #F28FADDD;
}*/

@import "~/.cache/wal/colors-rofi-dark"

