/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191d24FF;
    background-alt: #2E3440FF;
    foreground:     #E5E9F0FF;
    selected:       #EBCB8BFF;
    active:         #60728AFF;
    urgent:         #BF616AFF;
}
